<!DOCTYPE html>
<html ng-app="AppMod">
    <head>
      <title>Day 37 Assignment - Kyle Deen</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" type="text/javascript"></script>
      <script src="editstudent.js" type="text/javascript"></script>
      <link rel="stylesheet" type="text/css" href="editstudent.css">
    </head>
    <body ng-controller="AppCtrl as ctrl">
      <div id="wrapper">
          <span><a href="index.html">Back</a></span>
      <h1 class="h1">Edit Student</h1>
      <div class="form-group" id="form-wrapper">
      <form name="edit-form">
          <label for="student-id">ID: </label>
          <input id="student-id" name="student-id" type="number" disabled /> <br />
          <label for="student-id">First Name: </label>
          <input id="first-name" ng-model="fn" name="first-name" type="text" ng-minlength="2"/> <br />
          <label for="last-name">Last Name: </label>
          <input id="last-name" ng-model="ln" name="last-name" type="text" ng-minlength="2" /><br />
          <label for="sat">SAT: </label>
          <input id="sat" name="sat" type="number" /><br />
          <label for="gpa">GPA: </label>
          <input id="gpa" name="gpa" type="number" /><br />
          <label for="major-id">Major ID: </label>
          <input id="major-id" name="major-id" type="number" /><br />
      </form> <br /><br />
      <button id="update-btn" class="btn" ng-click="ctrl.updateStudent()">Update</button>
      </div>
      </div>
    </body>
</html>