<div id="editstudent">
      <h1 class="h1">Edit Student</h1>
      <div class="form-group" id="form-wrapper">
      <form name="edit-form">
          <label for="student-id">ID: </label>
          <input id="student-id" name="student-id" type="number" ng-model="ctrl.student.id" disabled /> <br />
          <label for="student-id">First Name: </label>
          <input id="first-name" ng-model="ctrl.student.first_name" name="first-name" type="text" ng-minlength="2"/> <br />
          <label for="last-name">Last Name: </label>
          <input id="last-name" ng-model="ctrl.student.last_name" name="last-name" type="text" ng-minlength="2" /><br />
          <label for="sat">SAT: </label>
          <input id="sat" name="sat" type="number" ng-model="ctrl.student.sat" /><br />
          <label for="gpa">GPA: </label>
          <input id="gpa" name="gpa" type="number" ng-model="ctrl.student.gpa" /><br />
          <label for="major-id">Major ID: </label>
          <input id="major-id" name="major-id" type="number" ng-model="ctrl.student.major_id" /><br />
      </form> <br /><br />
      <button id="update-btn" class="btn" ng-click="ctrl.updateStudent()">Update</button>
      </div>
</div>